:root {
	--proxima: Proxima Nova, sans-serif;
	--red: #DC3D43;
	--cream: #FEF8F2;
	--black: #000;
	--gray: #909090;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}


/* TYPOGRAPHY DEFAULTS */
	body {
		font-family: var(--proxima);
		color: var(--black);
		background: var(--cream);
		font-size: 17px;
	}

	h1, h2, h3 {
		font-weight: 800;
		text-transform: uppercase;
	}

	h1, .featured__heading {
		font-size: 3.5em;
		line-height: 1.2em;
		letter-spacing: 15px;
	}

	h2 {
		font-size: 42px;
		line-height: 48px;
		letter-spacing: 15px;
	}

	h3 {
		font-size: 24px;
		line-height: 31px;
		letter-spacing: 5px;
		color: var(--red);
	}

	h4 {
		font-size: 1.4em;
		line-height: 1.5;
		font-weight: 800;
		color: var(--red);
	}

	p {
		font-size: 19px;
		font-weight: 400;
		line-height: 28.5px;
	}

	a {
		text-transform: uppercase;
		text-decoration: none;
		color: var(--black);
	}

	.nav, h5 {
		font-size: 17px;
		line-height: 24px;
		letter-spacing: 2px;
		font-weight: 400;
		padding: 0 1.3rem;
	}

	.nav:hover, nav--active, h5:hover, .lang:hover {
		border-bottom: 2px solid var(--red);
	}

	.section__header {
		text-align: center;
	}

/* COMPONENT DEFAULTS */
	.component_section {
		padding: 2rem 0;
		border-top: 5px dotted var(--gray);
	}

	.sidebar {
		width: 25%;
		top: 40px;
		bottom: 0;
		position: fixed;
		overflow-y: scroll;
	}

	.main {
		width: 75%;
		float: right;
		flex-basis: 80%;
		overflow-x: auto;
		padding: 0 1rem;
	}
	.component {
		padding: 1rem;
	}
	.component img {
		max-width: initial;
	}
	.component__img {
		border: 1px solid var(--gray);
		overflow-x: auto;
	}
	.component__code {
		border: 1px solid var(--gray);
	}

/* SECTION DEFAULTS */
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: var(--cream);
		padding: 1rem;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	.featured {
		margin-top: 5rem;
	}

	section {
		margin: 4rem 0 1rem 1rem;
		padding: 0 4rem;
	}

/* MEDIA */
	@media (max-width: 1050px) {
	  .nav-menu {
	   	display: none;
	   	background-color: blue;
	  }
	}

	@media screen and (min-width: 320px) {
	  	.featured__heading { 
	  			font-size: calc(24px + 18 * ((100vw - 320px) / 680));
  		}
	}
	@media screen and (min-width: 1300px) {
	  .featured__heading {
	    font-size: 65px;
	  }
	}

/* BUTTONS */
	a.purchasebutton {
		font-family: var(--proxima);
		font-size: 21px;
		text-align: center;
		line-height: 30px;
		letter-spacing: 3px;
		font-weight: 700;
		color: var(--red);
		border: 2px solid var(--red);
		padding: 1rem;
	}

	a.purchasebutton--active , a.purchasebutton:hover{
		color: var(--cream);
		background: var(--red);
	}

	a.purchasebutton--nav {
		font-size: 18px;
		line-height: 25px;
		letter-spacing: 0;
		font-weight: 600;
		padding: .5rem;
	}

	a.purchasebutton--pass {
		font-size: 27px;
		text-align: center;
		font-weight: 600;
		line-height: 37.8px;
		padding: 2% 5%;
	}

	a.purchasebutton--promotion {
		font-size: 19px;
		letter-spacing: 2px;
		border: 1px solid var(--red);
		margin: 2rem;
	}

/* CARDS */
	.featured_icons {
		list-style-type: none;
		padding: 0 10% 0 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.icon__card {
		display: flex;
		align-items: center;
	}

	.i{
		max-height: 100%;
		padding: 0 1rem;
	}

	.t {
		font-size: 1em;
		line-height: 1.5em;
		text-transform: uppercase;
	}

	.t--1 {
		font-size: 1.2em;
		text-align: center;
	}

	.price {
		font-size: 30px;
		font-weight: 700;
		letter-spacing: 4px;
		line-height: 0;
	}

	.price--real {
		color: var(--red);
		text-decoration: line-through solid var(--red);
	}

	.slogan {
    	position: fixed;
   		font-weight: 500;
    	font-size: .8rem;
    	transform: rotate(-90deg);
    	letter-spacing: .15rem;
	    z-index: -1;
	}

	.s1 {
		top: 21vh;
    	right: 1.5rem;
    	transform-origin: top right;
	}

	.s2 {
		bottom: 4vh;
    	left: 1.5rem;
    	transform-origin: bottom left;
	}

	.museum__name, .museum__summary {
		padding: 0 .5rem;
	}

	.pass__heading {
		font-size: 66px;
		letter-spacing: 14px;
		line-height: 75px;
	}

	.pass__text {
		padding: 0 0 1rem;
	}

	.question-arrow{
		display: flex;
		gap: 1rem;
		align-items: center;
		margin-top: 3rem;
		text-align: right;
		padding-bottom: 1rem;
	}

	.questions {
		font-size: 21px;
		font-weight: 600;
		letter-spacing: 3px;
	}

	.questions:hover {
		color: var(--red);
	}

	.how__step {
		font-size: 20px;
		font-weight: 600;
		line-height: 28px;
		margin: 0 0 23px;
	}

	.promotioncard2 {
		margin: 3rem;
		padding: 2rem;
		box-shadow: -20px -20px var(--red);
		border: 3px solid var(--red);
	}

	.promotion--top {
		display: grid;
		grid-template-columns: 3fr 1fr;
		justify-content: space-between;
		gap: 2rem;
	}

	.promotion--bottom {
		display: grid;
		grid-template-columns: 3fr 2fr;
		justify-content: space-between;
		align-items: center;
		gap: 2rem;
	}

	.promotion--header1 {
		font-size: 40px;
		font-weight: 700;
		letter-spacing: 4px;
		margin: 1rem;
	}
	.promotion--header2 {
		font-size: 40px;
		font-weight: 600;
		letter-spacing: 6.5px;
		margin: 0 1rem;
		color: var(--gray);
	}
	.promotion--subheader {
		font-weight: 600;
		text-transform: uppercase;
		margin: 1rem;
	}

	.slogan-right {
		position: fixed;
		font-weight: 500;
		font-size: 1.3rem;
		transform: rotate(-90deg);
		letter-spacing: .15rem;
	}


/*** ORGANISMS ***/

/* NAV BAR + HEADER */

	.main_nav {
		display: flex;
		justify-content: space-between;
		padding: 0 1rem;
	}

	.nav-bar__menu {
		display: flex;
		flex: 1 1 auto;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	.nav__dropdown {
		position: relative;
		display: inline-block;
		padding: 0 1rem;

	}

	.nav-bar__language {
		line-height: 2em;
		display: none;
		position: absolute;
	}

	.lang {
		display: block;
	}

	.nav__dropdown:hover .nav-bar__language {
		display: block
	}

/* MAIN-FEATURE */
	.featured {
		display: flex;
		padding: 2rem 0 2rem 2rem;
		align-items: flex-start;
	}

	.featured-3 {
		display: flex;
		gap: 2rem;
		align-items: center;
	}

/* MUSEUMS INCLUDED */
	.museums {
		padding: 3rem;
	}

	.museum__grid {
		display: flex;
		flex-wrap: wrap;
		gap: 3rem;
		justify-content: center;
	}

	.museum__card {
		margin: 0 0 3.5%;
    	flex: 1 1 25%;
    	max-width: 380px;
	}

	.museum__img {
		width: 350px;
		height: 250px;
		object-fit: cover;
	}

	.museum__img:hover {
		transform: scale(1.05);
		opacity: 0.7;
	}

/* MEET THE PASS */
	.pass {
		display: flex;
		overflow-x: scroll;
		padding: 1rem;
	}

	.pass__card {
		min-width: 400px;
		margin-right: 4.3vw;
	}

	.pass__img {
		width: 100%;
	}

/* HOW IT WORKS */

	.how {
		width: 84%;
		margin: 1rem auto;
	}
	.how__grid {
		display: flex;
		justify-content: space-between;
		gap: 2rem;
		padding: 2rem;
	}

	.how__step {
		flex-basis: 27%;
	}

	.icon-arrow {
		display: flex;
	    align-items: center;
	    gap: 2rem;
	    height: 5rem;
	}

	.how__buy {
		text-align: center;
    	padding-top: 3rem;
	}

/* PROMOTION TICKET */

	.promotion {
		margin: 10rem auto;
		width: 84%;
	}

/* FAQ */

	.faq {
		padding: 0 2rem;
	}
	.faq__top {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	.faq__header {
		flex: 1 1 50%;
		font-size: 4em;
		line-height: 1.3em;
		margin: 0;
	}

	.faq__grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 2rem;
	}

	.faq__article {
		margin: 0 0 3.5%;
		min-width: 250px;
    	flex: 1 1 30%;
	}

/* FOOTER */
	.footer {
		background-color: var(--red);
		padding: 2rem;
		color: var(--cream);
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		flex-wrap: wrap;
		gap: 1rem;
	}

	.footer-menu {
		list-style-type: none;
		padding: 0;
	}

	.footer-menu__item {
		color: var(--cream);
		text-transform: none;
		font-size: .9rem;
	}

	.footer-menu__item:hover {
		text-decoration: underline;
	}

	.footer-icon {
		padding: 1rem 0;
	}

	.footer-logo {
		padding: 0 0 1rem;
	}
	.footer-socials {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.fa {
	  padding: 10px 0px;
	  border-radius: 50%;
	  width: 40px;
	  text-align: center;
	  border: 2px solid #fff;
	  color: #fff;
	}

	.fa:hover {
	    background: #fff;
	    color: #e63338;
	}

	.copyright {
		align-self: flex-end;
		text-align: right;
		text-decoration: underline;
	}

	.footer-col5 {
		text-align: right;
		justify-self: center;
	}
