:root {
	--proxima: Proxima Nova, sans-serif;
	--red: #DC3D43;
	--cream: #FEF8F2;
	--black: #000;
	--gray: #C8C3BE;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.component_section {
	padding: 2rem 0;
	border-top: 5px dotted var(--gray);
}

.sidebar {
	width: 20%;
	float: left;
	position: fixed;
	overflow: scroll;
}

.main {
	width: 80%;
	float: right;
}
/* TYPOGRAPHY DEFAULTS */
	body {
		font-family: var(--proxima);
		color: var(--black);
		background: var(--cream);
	}

	h1, h2, h3 {
		font-weight: 800;
		text-transform: uppercase;
	}

	h1 {
		font-size: 54px;
		line-height: 63px;
		letter-spacing: 15px;
	}

	h2 {
		font-size: 42px;
		line-height: 48px;
		letter-spacing: 15px;
	}

	h3 {
		font-size: 24px;
		line-height: 31px;
		letter-spacing: 5px;
		color: var(--red);
	}

	h4 {
		font-size: 27px;
		line-height: 40px;
		font-weight: 800;
		color: var(--red);
	}

	p {
		font-size: 19px;
		font-weight: 400;
		line-height: 28.5px;
	}

	a {
		text-transform: uppercase;
		text-decoration: none;
		color: var(--black);
	}

	.nav, h5 {
		font-size: 17px;
		line-height: 24px;
		letter-spacing: 2px;
		font-weight: 400;
		padding: 0 1.3rem;
	}

	.nav:hover, nav--active, h5:hover {
		border-bottom: 2px solid var(--red);
	}


/* COMPONENT DEFAULTS */
	.component {
		padding: 1rem;
	}
	.component img {
		max-width: initial;
	}
	.component__img {
		border: 1px solid var(--gray);
		overflow-x: auto;
	}
	.component__code {
		border: 1px solid var(--gray);
	}

/* BUTTONS */
	a.purchasebutton {
		font-family: var(--proxima);
		font-size: 21px;
		line-height: 30px;
		letter-spacing: 3px;
		font-weight: 700;
		color: var(--red);
		border: 2px solid var(--red);
		padding: 1rem;
	}

	a.purchasebutton--active , a.purchasebutton:hover{
		color: var(--cream);
		background: var(--red);
	}

	a.purchasebutton--nav {
		font-size: 18px;
		line-height: 25px;
		letter-spacing: 0;
		font-weight: 600;
		padding: .5rem;
		margin: 0 0 0 1rem;
	}

	.purchasebutton--pass {
		font-size: 30px;
		font-weight: 600;
		line-height: 37.8px;
		padding: 3% 4%;
	}

/* NAV BAR + HEADER */
	
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.main_nav {
		display: flex;
		justify-content: space-between;
		padding: 0 1rem;
	}

	.nav-bar__menu {
		display: flex;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	.nav__dropdown {
		position: relative;
		display: inline-block;
		padding: 0 1rem;
	}

	.nav-bar__language {
		line-height: 2em;
		display: none;
		position: absolute;
	}

	.lang {
		display: block;
	}

	.lang--active:hover .nav-bar__language {
		display: block
	}

/* CARDS */
	.featured_icons {
		list-style-type: none;
		padding: 0 10% 0 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.icon__card {
		display: flex;
		align-items: center;
	}

	.i{
		max-height: 100%;
		padding: 0 1rem;
	}

	.t {
		font-size: 1em;
		line-height: 1em;
		text-transform: uppercase;
	}

	.museum__name, .museum__summary {
		padding: 0 .5rem;
	}

	.pass__heading {
		font-size: 66px;
		letter-spacing: 14px;
		line-height: 75px;
	}

	.pass__text {
		margin: 44px 0;
	}

	.question-arrow{
		display: flex;
		gap: 1rem;
	}

	.questions {
		font-size: 21px;
		font-weight: 600;
		letter-spacing: 3px;
		line-height: 7rem;
	}

	.questions:hover {
		color: var(--red);
	}
