<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Components | Articket Barcelona</title>
	<link rel="stylesheet" href="https://use.typekit.net/hgr0xdu.css">
	<link rel="stylesheet" href="../css/main.css">
</head>
<body>
	<h1>Web components</h1>
<!--sidebar-->
	<div class="sidebar">
		<article class="sidebar_section">
			<h3 class="sidebar_heading">Typography Defaults</h3>
				<h5><a class="sidebar_item" href="#anchor_body">body</a></h5>
				<h5><a class="sidebar_item" href="#anchor_h1">h1</a></h5>
				<h5><a class="sidebar_item" href="#anchor_h2">h2</a></h5>
				<h5><a class="sidebar_item" href="#anchor_h3">h3</a></h5>
				<h5><a class="sidebar_item" href="#anchor_h4">h4</a></h5>
				<h5><a class="sidebar_item" href="#anchor_nav-menu">nav menu</a></h5>
		</article>
		<article class="sidebar_section">
			<h3 class="sidebar_heading">buttons and navigation</h3>
				<h5><a class="sidebar_item" href="#anchor_button">purchase button</a></h5>
				<h5><a class="sidebar_item" href="#anchor_nav-bar">nav-bar</a></h5>
		</article>
		<article class="sidebar_section">
			<h3 class="sidebar_heading">header</h3>
				<h5><a class="sidebar_item" href="#anchor_header">header</a></h5>
		</article>
		<article class="sidebar_section">
			<h3 class="sidebar_heading">cards</h3>
				<h5><a class="sidebar_item" href="#anchor_icon-card">icon card</a></h5>
				<h5><a class="sidebar_item" href="#anchor_museum-card">museum card</a></h5>
				<h5><a class="sidebar_item" href="#anchor_pass-card">pass card</a></h5>
				<h5><a class="sidebar_item" href="#anchor_promotion-card">promotion card</a></h5>
				<h5><a class="sidebar_item" href="#anchor_faq-card">faq card</a></h5>
		</article>
	</div>

	<div class="main">
<!--typography-->
		<section class ="component_section">
		<h2>Typography Defaults</h2>

			<article class="component">
				<h3 id="anchor_body" class="component__name">body</h3>
				<div class="component__img">
					<img 
						srcset="img/bodytext@2x.png 1.3x"
						src="img/bodytext@2x.png" 
						alt="body copy"/>
				</div>
				<div class="component__code">
					<p>The Fundació Joan Miró is a space that showcases the artist’s work alongside other contemporary pieces that help to maintain Joan Miró’s unique artistic legacy alive.</p>
				</div>
			</article>

			<article class="component">
				<h3 id="anchor_h1" class="component__name">h1</h3>
				<div class="component__img">
					<img 
						srcset="img/main_heading@2x.png 2x"
						src="img/main_heading@2x.png" 
						alt="h1"/>
				</div>
				<div class="component__code">
					<h1>The best art museums in barcelona in one pass</h1>
				</div>
			</article>
						
			<article class="component">
				<h3 id="anchor_h2" class="component__name">h2</h3>
				<div class="component__img">
					<img 
						srcset="img/section__heading@2x.png 2x"
						src="img/section__heading@2x.png" 
						alt="h2"/>
				</div>
				<div class="component__code">
					<h2>Museums Included</h2>
				</div>
			</article>

			<article class="component">
				<h3 id="anchor_h3" class="component__name">h3</h3>
				<div class="component__img">
					<img 
						srcset="img/museum-card__title@2x.png 2x"
						src="img/museum-card__title@2x.png" 
						alt="h3"/>
				</div>
				<div class="component__code">
					<h3>Fundació Antoni Tàpies</h3>
				</div>
			</article>

			<article class="component">
				<h3 id="anchor_h4" class="component__name">h4</h3>
				<div class="component__img">
					<img 
						srcset="img/how__card--stepheader@2x.png 2x"
						src="img/how__card--stepheader@2x.png" 
						alt="h4"/>
				</div>
				<div class="component__code">
					<h4>Purchase your Articket in just a few clicks</h4>
				</div>
			</article>

			<article class="component">
				<h3 id="anchor_nav-menu" class="component__name">nav menu</h3>
				<div class="component__img">
					<img 
						srcset="img/nav-bar__menu-item@2x.png 2x"
						src="img/nav-bar__menu-item@2x.png" 
						alt="nav-bar menu item"/>
				</div>
				<div class="component__code">
					<a class="nav">Museums</a>
				</div>
			</article>
		</section>
<!--buttons-->
		<section class ="component_section">
		<h2>Buttons</h2>

			<article class="component">
				<h3 id="anchor_button" class="component__name">Purchase Button</h3>
				<div class="component__img">
					<img 
						srcset="img/button.purchase@2x.png 2x"
						src="img/button.purchase@2x.png" 
						alt="purchase button"/>
					<img 
						srcset="img/button.purchaseactive@2x.png 2x"
						src="img/button.purchaseactive@2x.png" 
						alt="purchase button active"/>
				</div>
				<div class="component__code">
					<a class="purchasebutton" href="#!">Buy your articket</a>
					<a class="purchasebutton purchasebutton--active" href="#!">Buy your articket</a>
				</div>
			</article>

			<article class="component nav-bar">
				<h3 id="anchor_nav-bar" class="component__name">nav-bar</h3>
				<div class="component__img">
					<img 
						srcset="img/nav-bar__menu-list@2x.png 2x"
						src="img/nav-bar__menu-list@2x.png" 
						alt="nav-bar menu list"/>
				</div>
				<div class="component__code">
					<ul class="nav-bar__menu">
						<li><a class="nav nav-menu" href="#!">Museums</a></li>
						<li><a class="nav nav-menu" href="#!">how it works</a></li>
						<li><a class="nav nav-menu" href="#!">routes</a></li>
						<li><a class="nav nav-menu" href="#!">contact</a></li>
					</ul>
				</div>

				<div class="component__img">
					<img 
						srcset="img/nav-bar__language-list@2x.png 2x"
						src="img/nav-bar__language-list@2x.png" 
						alt="nav-bar language list"/>
				</div>
				<div class="component__code nav__dropdown">
					<a class="lang--active" href="#!">en</a>
					<img 
						class="dropbtn" 
						src="img/dropbtn@2x.png"
						srcset="img/dropbtn@2x.png 2x"
						alt="">
					<div class="nav-bar__language">
						<a class="lang" href="#!">ca</a>
						<a class="lang" href="#!">es</a>
						<a class="lang" href="#!">fr</a>
						<a class="lang" href="#!">it</a>
						<a class="lang" href="#!">de</a>
					</div>
				</div>
			</article>
		</section>
<!--header-->
		<section class ="component_section">
		<h2>header</h2>
			<article class="component">
				<h3 id="anchor_header" class="component__name">header</h3>
				<div class="component__img">
					<img 
						srcset="img/header@2x.png 2x"
						src="img/header@2x.png" 
						alt="header"/>
				</div>
				<div class="component__code">
				<div class="header">
					<img 
						class="logo"
						srcset="img/logo@2x.png 2x"
						src="img/logo@2x.png" 
						alt="logo">
					<div class="main_nav">
						<ul class="nav-bar__menu">
							<li><a class="nav nav-menu" href="#!">Museums</a></li>
							<li><a class="nav nav-menu" href="#!">how it works</a></li>
							<li><a class="nav nav-menu" href="#!">routes</a></li>
							<li><a class="nav nav-menu" href="#!">contact</a></li>
						</ul>

						<div class="nav__dropdown">
							<a class="lang--active" href="#!">en</a>
							<img 
								class="dropbtn" 
								src="img/dropbtn@2x.png"
								srcset="img/dropbtn@2x.png 2x"
								alt="">
							<div class="nav-bar__language">
								<a class="lang" href="#!">ca</a>
								<a class="lang" href="#!">es</a>
								<a class="lang" href="#!">fr</a>
								<a class="lang" href="#!">it</a>
								<a class="lang" href="#!">de</a>
							</div>
						</div>
						<div class="purchasebutton">
							<a class="purchasebutton purchasebutton--nav" href="#!">Buy your articket</a>
						</div>
					</div>
				</div>
			</div>
			</article>
		</section>
<!--cards-->
		<section class="component_section">
			<h2>cards</h2>
				<article class="component">
					<h3 id="anchor_icon-card" class="component__name">icon card</h3>
					<div class="component__img">
						<img 
							srcset="img/features__list-card@2x.png 2x"
							src="img/features__list-card@2x.png" 
							alt="featured icon card"/>
					</div>
					<div class="component__code">
						<ul class="featured_icons">
							<li class="icon__card">
								<div class="i"><img src="../img/icon-clock.svg" alt=""></div>
								<div class="t"><p class="t">Skip</p>
								<p class="t">the line</p>
								</div>
							</li>
						</ul>
					</div>
				</article>

				<article class="component">
					<h3 id="anchor_museum-card" class="component__name">museum card</h3>
					<div class="component__img">
						<img 
							srcset="img/museum-card@2x.png 2x"
							src="img/museum-card@2x.png"
							alt="museum card"/>
					</div>
					<div class="component__code">
						<img 
							srcset="img/museum-card__img@2x.png 2x"
							src="img/museum-card__img@2x.png"
							alt="fundacio antoni tapies">
						<h3 class="museum__name">FUNDACIÓ ANTONI TÀPIES</h3>
						<p class="museum__summary">The Fundació Antoni Tàpies was established to promote knowledge of modern art and houses one of the most complete public collections of Antoni Tàpies’ work.</p>
					</div>
				</article>

				<article class="component">
					<h3 id="anchor_pass-card" class="component__name">pass card</h3>
					<div class="component__img">
						<img 
							srcset="img/pass_card@2x.png 2x"
							src="img/pass_card@2x.png"
							alt="pass card"/>
					</div>
					<div class="component__code">
						<h2 class="pass__heading">Meet <br>the Pass</h2>
						<p class="pass__text">Discover the finest collection of Romanesque mural paintings in the world, enjoy Modernisme, and be surprised by the most contemporary art and creation. The universes of Miró, Picasso and Tàpies await you as you embark upon this unique experience – without queuing or waiting.</p>
						<a class="purchasebutton purchasebutton--pass" href="#!">Buy your articket</a>
						<div class="question-arrow">
							<a class="questions" href="#!">
							Questions? Check our FAQ</a>
							<img src="img/arrow-right.svg" alt="">
						</div>
					</div>
				</article>

				<article class="component">
					<h3 id="anchor_how-card" class="component__name">pass card</h3>
					<div class="component__img">
						<img 
							srcset="img/how__card@2x.png 1.5x"
							src="img/how__card@2x.png"
							alt="how card"/>
					</div>
					<div class="component__code">
						<p class="how__step">01<p>
						<div class="icon-arrow">
							<img class="icon--purchase"
								src="../img/how-it-works-1.svg"
								alt="">
							<img src="img/arrow-right.svg" alt="">
						</div>
						<h4 class="how__stepheader">Purchase your Articket in just a few clicks</h4>
						<p class="how__stepsummary">You will receive a voucher in your email to print or save on your phone</p>
					</div>
				</article>

				<article class="component">
					<h3 id="anchor_promotion-card" class="component__name">promotion card</h3>
					<div class="component__img">
						<img 
							srcset="img/promotion-card@2x.png 2x"
							src="img/promotion-card@2x.png"
							alt="promotion card"/>
					</div>
					<div class="component__code">
						<div class="promotioncard">
							<div class="promotion--left">
								<div class="promotion--header"><h2 class="promotion--header1">+100.000 artickets sold</h2><h2 class="promotion--header2">get yours!</h2></div>
								<p class="promotion--subheader">save up to 45% with articket</p>
							</div>
							<div class="promotion--right">
								<img 
									src="../img/seal.png" 
									srcset="../img/seal.png 2x"
									alt="">
								<a class="purchasebutton purchasebutton--promotion" href="#!">buy your articket</a>
							</div>
						</div>
					</div>
				</article>

				<article class="component">
					<h3 id="anchor_faq-card" class="component__name">faq card</h3>
					<div class="component__img">
						<img 
							srcset="img/section__faq--card@2x.png 1.5x"
							src="img/section__faq--card@2x.png"
							alt=" card"/>
					</div>
					<div class="component__code">
						<h3 class="faq__q">Are there any discounts for young people, students, or pensioners?</h3>
						<p class="faq__a">ArticketBCN does not have any discounts. It is a single price product that includes visits to six museums. If you visit them all, it works out cheaper than the total of every museum’s discounted prices for those groups.</p>
					</div>
				</article>
		</section>
	</div>

</body>
</html>